<html>
<head>
    <meta charset="utf-8">
    <title>Math homework</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <div id="c">
            <form action="/" method="POST">
                <input type="text" name="f" value="{{ itext }}" pattern="[0-9]{8,}" title="Пълен факултетен номер!">
                <input type="submit" name="submit" value="Натисни ме">
            </form>
            {% if post %}
            <pre><br>Вашите задачи са:<br><br>{{ text }}</pre>
            <div class="border"></div>
            <pre><br>Кой има същите задачи:<br><br>{{ users }}</pre>
            {% endif %}
            <div style="clear: both;"></div>
            <footer>
                Последна актуализация <b>{{ last_update }}</b>.
            </footer>
        </div>
    </body>
</html>